.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: -50px;
}

.links > a {
  margin: 20px;
}

.content {
  padding: 20px;
  padding-bottom: 50px;
}

a {
  color: white;
}

a:hover {
  color: #1890ff;
}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  border: 2px solid red;
  width: 100%;
  padding: 20px;
}

section {
  min-height: 100vh;
  border: 2px solid red;
  width: 100%;
}

.about-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


