.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
	height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: white;
}

a:hover {
  color: #1890ff;
}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  border: 2px solid red;
  width: 100%;
  padding: 20px;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav > ul > li > a {
  cursor: pointer;
}

nav > ul > li {
  margin: 0 20px;
}

section {
  min-height: 100vh;
  border: 2px solid red;
  width: 100%;
  box-sizing: border-box;
}

.about-section {
  padding-top: 103.25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section > img {
  max-height: 300px;
  border-radius: 50%;
}

.about-section a span {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#about-section a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}


